<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/me/css/font.css}">
    <link rel="stylesheet" type="text/css" th:href="@{me/css/xadmin.css}">
</head>
<body>
<div th:fragment="leftNav">
<div class="left-nav">
<div id="side-nav">
    <ul id="nav">
        <li >
            <a href="javascript:;">
                <i class="iconfont">&#xe6eb;</i>
                <cite>主页</cite>
                <i class="iconfont nav_right">&#xe6a7;</i>
            </a>
            <ul class="sub-menu">
                <li><a _href="html/welcome.html"><i class="iconfont">&#xe6a7;</i><cite>控制台</cite></a></li >
            </ul>
        </li>
        <li >
            <a href="javascript:;">
                <i class="iconfont">&#xe6e4;</i>
                <cite>排班管理</cite>
                <i class="iconfont nav_right">&#xe6a7;</i>
            </a>
            <ul class="sub-menu">
                <li><a _href="html/unicode.html"><i class="iconfont">&#xe6a7;</i><cite>自动排班</cite></a></li>
                <li><a _href="html/form1.html"><i class="iconfont">&#xe6a7;</i><cite>排班调整</cite></a></li>
                <li> <a href="/DutyHistory"><i class="iconfont">&#xe6a7;</i><cite>排班历史查询</cite></a></li>
            </ul>
        </li>


        <li>
            <a href="javascript:;"><i class="iconfont">&#xe6f6;</i><cite>人员管理</cite><i class="iconfont nav_right">&#xe6a7;</i></a>
            <ul class="sub-menu">
                <li><a href="/EmployeeManage"><i class="iconfont">&#xe6a7;</i><cite>员工信息管理</cite></a></li>
                <li><a _href="html/page.html"><i class="iconfont">&#xe6a7;</i><cite>特殊员工标记</cite></a></li>
                <!--                    <li><a _href="html/cate.html"><i class="iconfont">&#xe6a7;</i><cite>多级分类</cite></a></li>-->
                <!--                    <li><a _href="html/carousel.html"><i class="iconfont">&#xe6a7;</i><cite>轮播图</cite></a></li>-->
                <!--                    <li><a _href="html/city.html"><i class="iconfont">&#xe6a7;</i><cite>城市三级联动</cite></a></li>-->
            </ul>
        </li>

        <li>
            <a href="javascript:;">
                <i class="iconfont">&#xe69e;</i>
                <cite>调班请求</cite>
                <i class="iconfont nav_right">&#xe6a7;</i>
            </a>
            <ul class="sub-menu">
                <li>
                    <a _href="html/order-list.html">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>调班请求管理</cite>
                    </a>
                </li >
            </ul>
        </li>
        <li>
            <a href="javascript:;">
                <i class="iconfont">&#xe726;</i>
                <cite>管理员管理</cite>
                <i class="iconfont nav_right">&#xe6a7;</i>
            </a>
            <ul class="sub-menu">
                <li>
                    <a _href="html/admin-list.html">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>管理员列表</cite>
                    </a>
                </li >
                <li>
                    <a _href="html/admin-role.html">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>角色管理</cite>
                    </a>
                </li >
                <li>
                    <a _href="html/admin-cate.html">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>权限分类</cite>
                    </a>
                </li >
                <li>
                    <a _href="html/admin-rule.html">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>权限管理</cite>
                    </a>
                </li >
            </ul>
        </li>
        <li>
            <a href="javascript:;">
                <i class="iconfont">&#xe6b8;</i>
                <cite>用户管理</cite>
                <i class="iconfont nav_right">&#xe6a7;</i>
            </a>
            <ul class="sub-menu">
                <li>
                    <a _href="html/member-list.html">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>会员列表</cite>

                    </a>
                </li >
                <li>
                    <a _href="html/member-del.html">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>会员删除</cite>

                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="iconfont">&#xe70b;</i>
                        <cite>会员管理</cite>
                        <i class="iconfont nav_right">&#xe6a7;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a _href="html/member-del.html">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>会员列表</cite>

                            </a>
                        </li >
                        <li>
                            <a _href="html/member-del.html">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>会员删除</cite>

                            </a>
                        </li>

                    </ul>
                </li>

            </ul>
        </li>
        <li>
            <a href="javascript:;">
                <i class="iconfont">&#xe6ae;</i>
                <cite>系统统计</cite>
                <i class="iconfont nav_right">&#xe6a7;</i>
            </a>
            <ul class="sub-menu">
                <li>
                    <a _href="html/echarts1.html">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>拆线图</cite>
                    </a>
                </li >
                <li>
                    <a _href="html/echarts2.html">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>柱状图</cite>
                    </a>
                </li>
                <li>
                    <a _href="html/echarts3.html">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>地图</cite>
                    </a>
                </li>
                <li>
                    <a _href="html/echarts4.html">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>饼图</cite>
                    </a>
                </li>
                <li>
                    <a _href="html/echarts5.html">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>雷达图</cite>
                    </a>
                </li>
                <li>
                    <a _href="html/echarts6.html">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>k线图</cite>
                    </a>
                </li>
                <li>
                    <a _href="html/echarts7.html">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>热力图</cite>
                    </a>
                </li>
                <li>
                    <a _href="html/echarts8.html">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>仪表图</cite>
                    </a>
                </li>
            </ul>
        </li>            </ul>
</div>
</div>
</div>
</body>
</html>
