<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_head(title,links)">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" th:href="@{/me/css/font.css}"/>
    <link rel="stylesheet" th:href="@{me/css/xadmin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{me/css/me.css}">
    <link rel="stylesheet" type="text/css" th:href="@{layui/css/layui.css}">
</head>
</html>
