<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="calendar/css/simple-calendar.css">
    <script type="text/javascript" src="calendar/js/simple-calendar.js"></script>
    <script type="text/javascript" src="me/js/jquery-3.1.1.js"></script>
</head>
<style>
    .duty_calendar{
        position: relative;
        width: 100%;
        height: 650px;
    }
    #duty_calendar{
        left: 10%;
        top: 12%;
        width: 80%;
        height: 500px;
        position: relative;
    }
</style>
<body>
<div id="duty_calendar" class="sc-calendar"></div>

<script>
    $(document).ready(function(){
        getDutyEmp();
    });


    function getDutyEmp() {
        $.ajax({
            type: "POST",
            //请求的媒体类型
            contentType: "application/json;charset=UTF-8",
            // dataType:"json",
            //请求地址
            url: "/showResultInCalendar",
            //数据，json字符串
            //请求成功
            success: function (result) {
                var options={
                    timeRange: {
                        startYear: 1999,
                        endYear: 2049
                    },
                    mark:result
                }
                var myCalendar = new SimpleCalendar('#duty_calendar',options);
                console.log(result);
            },
            //请求失败，包含具体的错误信息
            error: function (e) {
                console.log(e.status);
                console.log(e.responseText);
            }
        });
    }
</script>
</body>
</html>
