<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jx.chinunicom.dutymanage.mapper.DutyQueueMapper">

    <resultMap id="QueueToEmployee" type="cn.jx.chinunicom.dutymanage.entity.Employee">
        <result property="id" column="empId" />
        <result property="name" column="empName" />
    </resultMap>

    <update id="updateRowId">
        update jxlt_temp_emp_queue set rowId=#{rowId} where empId=#{empId}
    </update>

    <update id="updateEmpNameAndEmpId">
        update jxlt_temp_emp_queue set empId=#{empId2},empName=#{empName2} where rowId=#{rowId}
    </update>

    <select id="selectRowIdByEmpId" resultType="int">
        select rowId from jxlt_temp_emp_queue where empId=#{empId}
    </select>

    <select id="selectQueueToEmployeeByArray" resultMap="QueueToEmployee">
    SELECT jteq.empId,jteq.empName from jxlt_temp_emp_queue jteq left join jxlt_emp_dutyrule jed on jteq.empId=jed.empId where dutyTypeId in
    <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
        #{item}
    </foreach>
    GROUP BY jteq.empId ORDER BY jteq.rowId
</select>

    <select id="selectQueueToEmployee" resultMap="QueueToEmployee">
        SELECT jteq.empId,jteq.empName from jxlt_formal_emp_queue jteq left join jxlt_emp_dutyrule jed on jteq.empId=jed.empId where dutyTypeId = #{dutyTypeId}
        GROUP BY jteq.empId ORDER BY jteq.rowId
    </select>

    <delete id="deleteByEmpId">
        delete from jxlt_temp_emp_queue where empId=#{empId}
    </delete>

    <delete id="clearFormalQueue">
        delete from jxlt_formal_emp_queue
    </delete>


    <update id="truncateTable">
    truncate table jxlt_formal_emp_queue
    </update>


    <!--执行排班计划，将排班队列生成到正式排班表中-->
    <insert id="insertToFormalQueue">
--          insert into jxlt_formal_emp_queue(rowId,empId,empName) select rowId,empId,empName from jxlt_temp_emp_queue
         insert into jxlt_formal_emp_queue(empId,empName) select empId,empName from jxlt_temp_emp_queue
    </insert>


    <!--查找出2020年春节值班过的人，防止这些人在五一假期中被排到，这是一个临时方法，等待改进-->
    <select id="selectBigHolidayDutyedEmp" resultMap="QueueToEmployee">
        select aa.empId,aa.empName from(select jfeq.empId,jfeq.empName,jfdr.dutyDate,jfdr.dutyTypeId from jxlt_formal_emp_queue jfeq
        left join jxlt_formal_duty_result jfdr on jfeq.empId=jfdr.empId) aa left join jxlt_holidays jh
        on aa.dutyDate=jh.holidayDate
        where date_format(aa.dutyDate, '%Y') >='2020' and jh.HolidayType=1;
    </select>

    <select id="selectQueueByPage" resultType="cn.jx.chinunicom.dutymanage.entity.DutyQueue">
        select*from jxlt_formal_emp_queue
    </select>

    <select id="selectLastMonthWeekendMorningEmp" resultMap="QueueToEmployee">
                SELECT*FROM jxlt_formal_duty_result WHERE date_format(dutyDate, '%Y %m') = date_format(DATE_SUB(#{dutyDate}, INTERVAL 1 MONTH),'%Y %m')
                and dutyTypeId in (4,6,7)
                and empName in (select name from jxlt_employee)
    </select>


    <update id="truncateEmpQueue">
    truncate table jxlt_temp_emp_queue
    </update>

    <insert id="copyFormalQueueToTemp">
        insert into jxlt_temp_emp_queue (select*from jxlt_formal_emp_queue)
    </insert>

</mapper>
